@use postcss-nested;
@use postcss-simple-vars;
@use postcss-cssnext;

$color-lightest: #f9fdfe;
$color-gray-light: #cdcfcf;
$color-gray-medium: #686a69;
$color-gray-dark: #414643;
$color-darkest: #2a2f2c;

/* A simple reset. */
*,::before,::after {
  margin: 0;
  box-sizing: border-box;
}
  
/* Heydon Pickering’s lobotomized owl. Details: https://bit.ly/1H7MXUD */
*+* {
  margin-top: 0.5rem;
}

/* Set up fonts, colors and all that jazz. */
body {
  background: #cdcfcf;
  color: $color-gray-light;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid transparent;
  padding-bottom: 20px;
}

/* Headings use a different font because they’re hipsters. */
h1,h2 {
  color: $color-darkest;
  font-family: Lato, sans-serif;
  font-weight: 600;
  line-height: 1;
}

/* Set up general layout rules for outer containers. */

.content,.results {
  width: 90vw;
  max-width: 550px;
  margin: 8vh auto;
}

.contact-form {
  position: relative;
  display: block;
  margin: 0;
  padding: 1rem 0 2rem;
  border-top: 1px solid $color-darkest;
  border-bottom: 1px solid $color-darkest;
  overflow: hidden;
}



/* proof button */
  
.btn {
  background-color: gray; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 1px 20px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */

  width: 90px;
  height: 30px;
  cursor:pointer;
  border-radius: 25px;    
}

.proof{
  background-color: black;
  color: white;
}

/* click buttons Darker background on mouse-over */

.btn:hover {
  background-color: white;
}

.clear:hover{
  background-color: white;
}

.proof:hover{
  background-color: red;
  color: black;
}

/* table of examples */

.exampleTable{
  font-family: arial, sans-serif;
  position: relative;
  border-collapse: collapse;
  width: 110%;
}

#exampleTable,td, th {
  font-size: 15px;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.confirm {
 color: blue;
}